.spacing {
    margin: 15px;
}

h1 {
    padding-bottom: 20px; 
    font-weight: bold;
    text-align: center;
}

footer {
    text-align: center;
    font-style: italic;
}

body{
    background: linear-gradient(to bottom, #f2f4f7, #cddef3);
    min-height: 100vh;
    margin: 0;
}

.weatherImage {
    width: 150px;
    height: 150px;
}